* {
  font-family: "Kumbh Sans", sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#faq-accordion-card {
  width: 60%;
  min-height: 450px;
  padding-top: 5%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 10% auto;
  border-radius: 2em;
}

#faq-accordion-card .left {
  position: relative;
  width: 50%;
  background: url("../images/bg-pattern-desktop.svg"),
    url("../images/illustration-woman-online-desktop.svg");
  background-size: 700px, 100%;
  background-repeat: no-repeat, no-repeat;
  background-position-x: -340px, -72px;
  background-position-y: -203px, top;
}

#faq-accordion-card .left img.box {
  position: absolute;
  top: 117px;
  left: -92px;
}

#faq-accordion-card .left img.illustration-woman-mobile,
#faq-accordion-card .left img.pattern-mobile {
  display: none;
}

#faq-accordion-card .right {
  width: 50%;
  padding-right: 70px;
  font-size: 16px;
  color: hsl(238, 29%, 16%);
}

#faq-accordion-card .right h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 26px;
}

#faq-accordion-card .right ul {
  padding-left: 0;
  list-style-type: none;
}

#faq-accordion-card .right ul li {
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

#faq-accordion-card .right .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#faq-accordion-card .right .question:hover {
  cursor: pointer;
  color: hsl(14, 88%, 65%);
}

#faq-accordion-card .right .answer {
  margin-top: 0;
  color: hsl(240, 6%, 50%);
}
